// header
.header
  .header__content
    .header__menu
      button.btn-menu
        div
        div
        div
    .header__spec
      a(href="#", target="_blank"): img(src="/build/img/logo_elle.png", alt="Elle")
      span.spec-text.tp-body--small.tp-text--upper.tp-text--wide.mx-15 Специально для
      a(href="#", target="_blank"): img(src="/build/img/logo_mugler.png", alt="Mugler")
    .header__logo
      a(href="#", target="_blank"): img(src="/build/img/logo_am.png", alt="Aura Mugler")